<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
</head>
<body>
  <header>
    <p>
      <a href="/">Home</a>
    </p>
  </header>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>

  {{#if posts.length}}
    <ul>
    {{#each posts}}
      <li><a href="/{{ path }}">{{ title }}</a></li>
    {{/each}}
    </ul>
  {{/if}}

  {{{ contents }}}

  <footer>
    <p>Last update: {{ date }}</p>
  </footer>

</body>
</html>
